html, body {
    margin: 0;
    padding: 0;
}
section{
    &#main{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 3fr;
        div.left{
            height: 100%;
            div.buttons{
                height: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                align-items: center;
                justify-items: center;
            }
        }
        div.right{
            height: 100%;
            #map {
                width: 100%;
                height: 100%;
            }
        }
    }
}

button{
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    &.button{
        padding: 10px;
        margin: 10px;
        color: white;
        &.my-value{
            background: black;
        }
        &.my-position{
            background: rgb(63, 1, 1);
        }
        &.add-friend{
            background: rgb(63, 0, 114);
        }
        &.find-friend{
            background: rgb(0, 87, 22);
        }
        &.find-place{
            background: rgb(19, 3, 110);
        }
        &.make-road{
            background: rgb(173, 142, 2);
        }
    }  
}

span{
    font-size: 1.3rem;
}