html, body {
  margin: 0;
  padding: 0;
}

section#main {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

section#main div.left {
  height: 100%;
}

section#main div.left div.buttons {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

section#main div.right {
  height: 100%;
}

section#main div.right #map {
  width: 100%;
  height: 100%;
}

button {
  width: 250px;
  height: 100px;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
}

button.button {
  padding: 10px;
  margin: 10px;
  color: white;
}

button.button.my-value {
  background: black;
}

button.button.my-position {
  background: #3f0101;
}

button.button.add-friend {
  background: #3f0072;
}

button.button.find-friend {
  background: #005716;
}

button.button.find-place {
  background: #13036e;
}

button.button.make-road {
  background: #ad8e02;
}

span {
  font-size: 1.3rem;
}
